*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

min-height:100dvh;

background:
url("bg.png");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

overflow-x:hidden;

overflow-y:auto;

padding:
40px;

display:flex;

justify-content:center;

align-items:center;

font-family:Georgia;

position:relative;

}

/* flowers */

.leftflower{

position:fixed;

left:0;

top:0;

width:min(
26vw,
170px
);

pointer-events:none;

z-index:2;

}

.rightflower{

position:fixed;

right:0;

bottom:0;

width:min(
26vw,
170px
);

pointer-events:none;

z-index:2;

}

/* layout */

.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

/* envelope */

.envelope-wrap{

display:flex;

flex-direction:column;

align-items:center;

}

.envelope{

width:min(
78vw,
360px
);

cursor:pointer;

animation:
float
3s
infinite;

}

.tap{

margin-top:18px;

font-size:

clamp(
18px,
3vw,
28px
);

color:#9d6876;

font-weight:bold;

}

/* letter */

.letter-wrap{

display:none;

position:relative;

width:min(
95vw,
760px
);

}

.letter-wrap.show{

display:block;

animation:
appear
1s;

}

.letter{

width:100%;

display:block;

}

/* TEXT INSIDE PAPER */

.message{

position:absolute;

left:50%;

top:50%;

transform:
translate(
-50%,
-50%
);

width:56%;

height:62%;

overflow-y:auto;

overflow-x:hidden;

padding:12px;

white-space:pre-wrap;

word-break:break-word;

color:#6d4d38;

font-size:

clamp(
12px,
1.7vw,
24px
);

line-height:1.8;

}

/* animations */

@keyframes float{

0%{

transform:
translateY(
0
);

}

50%{

transform:
translateY(
-14px
);

}

100%{

transform:
translateY(
0
);

}

}

@keyframes appear{

from{

opacity:0;

transform:
translateY(
40px
);

}

to{

opacity:1;

}

}

/* phone */

@media(max-width:768px){

body{

padding:20px;

}

.envelope{

width:260px;

}

.message{

width:56%;

height:60%;

font-size:12px;

line-height:1.6;

padding:8px;

}

.leftflower{

width:110px;

}

.rightflower{

width:110px;

}

}
.video-btn{

margin-top:25px;

padding:
14px
24px;

border:none;

border-radius:40px;

background:
linear-gradient(
45deg,
#f7bfd5,
#d7a0ff
);

color:white;

font-size:16px;

cursor:pointer;

}

.video-btn:active{

transform:
scale(.96);

}
.message{

overflow-y:auto;

overflow-x:hidden;

word-break:break-word;

white-space:pre-wrap;

}
/* phone image fix */

img{

max-width:100%;

height:auto;

display:block;

}